@import '../../index.scss';

span {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $colorText;
}

.ant-table-cell {
  padding: 10px !important;
  font-size: 16px;
  color: $colorText !important;
}
